---
import TextTransition from "../../components/TextTransition/TextTransition";
import Layout from "../../layouts/Layout.astro";
import "../index.scss";

import "@fontsource/noto-sans/300.css";
import "@fontsource/noto-sans/400.css";
import "@fontsource/noto-sans/500.css";
import "@fontsource/space-mono";
import "@fontsource/kalam";

import kevGif from "../images/kev.gif";
import shopifyIcon from "../images/shopify.svg";
import turbulentIcon from "../images/turbulent.png";
import arsenalwebIcon from "../images/arsenalweb.png";
import kevIcon from "../images/kev.png";
import mouseAndPointer from "../images/mouse-cursor-hand-pointer.svg";
---

<Layout title="Bienvenue!">
  <main>
    <section class="hi">
      <img src={kevGif.src} alt="Keven" width={80} height={80} />
      <p>
        <em>Bonjour, je suis Keven!</em>
         Avec plus de 15 ans d'expérience en développement logiciel, j'excelle à
        livrer des résultats exceptionnels pour des projets à hauts enjeux.
      </p>
    </section>

    <section class="animatedText">
      <div>
        <span>J'ai entendu dire que</span>
        <span>vous avez besoin d'un</span>
      </div>

      <TextTransition client:only lang="fr" />
    </section>

    <ul class="quicklook">
      <li>
        <div>Développeur logiciel senior</div>
        <div>
          @ <img src={shopifyIcon.src} alt="Shopify" width={16} height={16} />
           Shopify
        </div>
        <div>2021 - Ajd</div>
      </li>
      <li>
        <div>Tech & Dev Lead</div>
        <div>
          @ <img
            src={turbulentIcon.src}
            alt="Turbulent"
            width={16}
            height={16}
          /> Turbulent
        </div>
        <div>2020 - 2021</div>
      </li>
      <li>
        <div>Directeur des technologies</div>
        <div>
          @ <img
            src={arsenalwebIcon.src}
            alt="Arsenal Web"
            width={16}
            height={16}
          /> Arsenal Web
        </div>
        <div>2018 - 2020</div>
      </li>
      <li>
        <div>...</div>
      </li>
      <li class="lessPaddingBottom">
        <div>Consultant / Développeur Web</div>
        <div>
          @ <img src={kevIcon.src} alt="Self-Employed" width={16} height={16} />
          Pigiste
        </div>
        <div>2008 - Ajd</div>
      </li>
      <li>
        <div></div>
        <div class="colspan padded">pour Garda, GHD, Lavo, ...</div>
      </li>
    </ul>

    <div class="links">
      <a href="mailto:kev@k11e.com" role="button" class="contrast">
        <span>Discutons</span>
        <img src={mouseAndPointer.src} alt="Hand pointer" /></a
      >
      <a href="/fr/collaborer-ensemble" role="button" class="secondary">En apprendre davantage</a>
    </div>
  </main>
</Layout>
