---
import TextTransition from "../components/TextTransition/TextTransition";
import Layout from "../layouts/Layout.astro";
import "./index.scss";

import "@fontsource/kalam";
import "@fontsource/noto-sans/300.css";
import "@fontsource/noto-sans/400.css";
import "@fontsource/noto-sans/500.css";
import "@fontsource/space-mono";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import classNames from "classnames";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import MainNav from "../layouts/MainNav.astro";
import kevGif from "./images/kev.gif";
import mouseAndPointer from "./images/mouse-cursor-hand-pointer.svg";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const experiences = (await getCollection("experiences"))
  .filter(({ slug }) => !slug.includes("/") === (lang === "en"))
  .sort((a, b) => a.data.sortOrder - b.data.sortOrder);
---

<Layout title={t("home.documentTitle")} width="veryNarrow">
  <MainNav transparent hideHome />
  <main>
    <section class="hi">
      <img src={kevGif.src} alt="Keven" width={80} height={80} />
      <p>
        <em>{t("home.welcome.p1")}</em>
        {t("home.welcome.p2")}
      </p>
    </section>

    <section class="animatedText">
      <div>
        <span>{t("home.animatedText.p1")}</span>
        <span>{t("home.animatedText.p2")}</span>
      </div>

      <TextTransition client:only lang={lang} />
    </section>

    <ul class="quicklook">
      {
        experiences.map((experience, i) => (
          <li
            class={classNames({
              strong: experience.data.strong,
              lessPaddingBottom: i === experiences.length - 1,
            })}
          >
            <div>{experience.data.title}</div>
            <div>
              {experience.data.icon && (
                <>
                  @{" "}
                  <Image
                    src={experience.data.icon}
                    alt={experience.data.title}
                    width={16}
                  />
                </>
              )}
              {experience.data.company}
            </div>
            <div>{experience.data.duration}</div>
          </li>
        ))
      }
    </ul>

    <div class="links">
      <a href="mailto:kev@k11e.com" role="button" class="contrast">
        <span>{t("home.links.letsChat")}</span>
        <img src={mouseAndPointer.src} alt="Hand pointer" /></a
      >
      <a href="/services" role="button" class="secondary">{t("home.links.learnMore")}</a>
    </div>
  </main>
</Layout>
